<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952754245296-eddn030j9gp6201jak1037hg64clec0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952754245296-eddn030j9gp6201jak1037hg64clec0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAkZN5GnHlJ31TuoiNVSjzMgqf9d5nt-1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>952754245296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codexpose..Face-Transaction</string>
	<key>PROJECT_ID</key>
	<string>face-transaction</string>
	<key>STORAGE_BUCKET</key>
	<string>face-transaction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952754245296:ios:0b6a6274464d2c2295b575</string>
</dict>
</plist>